@import "./assets/scss/global.scss";
@import "./assets/scss/animations.scss";

@import "./assets/scss/global-components.scss";
@import "./assets/scss/login.scss";

@import "./assets/scss/tab-menu.scss";

.main {
    display: flex; flex-direction: column; height: 100%;
    
    .header {
        display: flex; 
        flex-direction: row;
        height : $header-height; 
        background: $color-primary; 
    
        .btnLeftContainer {
            display: flex; 
            flex-direction: row;
        }
    
        .titleContainer {
            flex: auto;
            .title {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                .mainTitle {
                    position: absolute;
                    top:6px;
                    max-width: calc(100% - #{$default-padding*2});
                    padding-left: $default-padding;
                    padding-right: $default-padding;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    font-size: $font-size-big;
                    font-weight: bold;
                    color: $color-shade-dark;

                }

                .subTitle {
                    position: absolute;
                    top:34px;
                    max-width: calc(100% - #{$default-padding*2});
                    padding-left: $default-padding;
                    padding-right: $default-padding;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    font-weight: bold;
                    color: $color-dark-grey;

                }
            }
        }
        .btnRightContainer {
            display: flex; 
            flex-direction: row;
        }
    }

    .tabs { 
        display: flex; flex-direction: row; height: calc(100% - #{$header-height}); 

        
        .tab.chapter {
            background : $color-shade;
        }
        .tab.notes {
            background : $color-shade-light;
        }

        
        .tab.tabNote {
            position: relative; 
            display: flex;
            flex: auto; 
            flex-direction: column; 
            height: 100%;

            .noteOverlay {
                display: flex;
                flex: auto; 
                flex-direction: column;
                align-items: center;
                height: 100%;

                background: $color-shade-dark;
                
                &.loading.active {
                    animation-name: show;
                    animation-duration: $default-animation-length/2;
                }
                &.active {
                    opacity: 1;
                }
                &.loading.inactive {
                    animation-name: hide;
                    animation-duration: $default-animation-length/2;
                }
                &.inactive {
                    opacity: 0;
                }
                &.loaded.inactive {
                    display: none;
                }
                
                .noteOverlayMessage {
                    margin: auto;
                    text-align: center;
                    border: $color-border dashed 2px;
                    padding: $default-padding*3 $default-padding*6;
                    color: $color-dark-grey;
                    font-style: italic;
                }
            }

            .noteContent {
                display: flex;
                flex: auto; 
                flex-direction: column;
                align-items: stretch;
                height: 100%;
            
                &.loading.active {
                    animation-name: show;
                    animation-duration: $default-animation-length/2;
                }
                &.active {
                    opacity: 1;
                    
                }
                &.loading.inactive {
                    animation-name: hide;
                    animation-duration: $default-animation-length/2;
                }
                &.inactive {
                    opacity: 0;
                }
                &.loaded.inactive {
                    display: none;
                }

                .toolbar {
                    &.ql-toolbar.ql-snow {
                        border: none;
                    }
                }

                .noteHeaderContainer {
                    .titlebar {
                        min-height: 20px;
                        margin: $default-margin $default-margin*2 $default-margin/2 $default-margin*2 ;
                        padding: $default-padding 0 $default-padding 0;
                    
                        font-size: $font-size-big;
                        font-weight: bold;
                        border-bottom: $color-border solid 1px;
                        cursor: pointer;
                    }
                    .dateContainer {
                        .datebar {
                            margin: $default-margin/2 0 0 $default-margin;
                            padding: 0 0 0 $default-padding;
                        
                            font-size: $default-font-size;
                            font-style: italic;
                            color: $color-dark-grey;
                            
                            cursor: default;
                        }
                    }
                }

                .noteInnerContainer {
                    overflow-y: auto;
                    .note { 
                        border: none;
                        min-height: 300px;
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
    .tabNote { display: none; height: calc(100% - 10px); min-width: 100vw; /* 100vw is a trick for the animation so te text won't grow with the with */ padding:0px; }
    .tabNote.stack.active { display: block; }

    .datebar {
        &.created {
            display: none;
        }
    }
}
@media (min-width: $default-width-mobile) and (max-width: $default-width-tablet) {
    .datebar {
        &.created {
            display: none;
        }
    }
}