@import "../../../../../../styles.scss";

.noteOverlay {
    display: flex;
    flex: auto; 
    flex-direction: column;
    align-items: center;
    height: 100%;

    background: $color-shade-dark;
    
    .noteOverlayMessage {
        margin: auto;
        text-align: center;
        border: $color-border dashed 2px;
        padding: $default-padding*3 $default-padding*6;
        color: $color-dark-grey;
        font-style: italic;
    }
}

.noteOverlay.loading.active {
    animation-name: show;
    animation-duration: $default-animation-length/2;
}
.noteOverlay.active {
    opacity: 1;
}
.noteOverlay.loading.inactive {
    animation-name: hide;
    animation-duration: $default-animation-length/2;
}
.noteOverlay.inactive {
    opacity: 0;
}
.noteOverlay.loaded.inactive {
    display: none;
}

