@import "../../../styles.scss";

.btn {
    padding: $default-padding;
    
    border: $color-border solid 1px;
    background : $color-shade-light;
    
    font-weight: bold;
    cursor: pointer;
    
}
