
%default-button {
  padding: $default-padding;
  margin: $default-margin/2;

  font-weight: $font-weight-bold;
  cursor: pointer;

  background: none;

  border-radius: $border-radius-small;
  border: none;
}

%default-hover-button {
  &:hover {
    border-color : darken($color-border, 10%);
    background : darken($color-primary, 10%);
  }
}

%default-disabled-button {
  &:disabled {
    border-color : $color-border;
    background : lighten($color-shade-light, 10%);
    color: $font-color-disabled;
    box-shadow: none;
}
}

.btn {
  @extend %default-button;
  
  &.btnText {
    padding: $default-padding;
    @extend %default-hover-button;
    @extend %default-disabled-button;
  }

  &.btnContained {
    border: $color-border solid 1px;
    box-shadow: $default-shadow-input;
    background : $color-primary;
    color: $font-color-contrast;

    @extend %default-hover-button;
    @extend %default-disabled-button;
  }

  &.btnOutlined {
    border: $color-primary solid 1px;
    padding: $default-padding - 2px;
    color: $default-font-color;
    @extend %default-hover-button;
    @extend %default-disabled-button;
  }

  &.btnFloat {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: $default-margin;
    padding: $default-padding*1.5;
    border-radius: 50%;

    background: $color-shade-light;
    box-shadow: $default-shadow;

    &.btnLocRight {
      right: 0px;
    }
    &.btnLocBottom {
      bottom: 0px;
    }
  }
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: $header-height;
  height: $header-height;

  //border-right: $color-border solid 1px;
  background : inherit;

  cursor: pointer;

  .icon {
      width: calc(100% - #{$default-padding*2});
      height: calc(100% - #{$default-padding*2});
      padding: $default-padding;
  }

  &.hidden {
      display: none;
  }

  &.small {
      width: $header-height/2;
      height: calc(#{$header-height/2} - 1px);
      border-right: none;
      
      &.btnToolbar {
          min-width: 36px;
          width: 36px;
          .icon {
              width: 100%;
              height: 100%;
          }
      }
  }
  &.disabled {
      border: $color-shade-light solid 1px;
      cursor: not-allowed;
      .icon {
          opacity: 0.2;
      }
  }
  
  &:hover {
      background: lighten($color-primary, 10%);
  }
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
  .btn {
      padding: $mobile-padding;

      &.btnText {
        padding: $mobile-padding + 2px;
      }

      &.btnOutlined {
        padding: $mobile-padding - 2px;
      }

      &.btnFloat {
        height: 56px;
        width: 56px;
        margin: $mobile-margin;
        padding: $mobile-padding*1.2;
      }
  }
}