@import "../../../styles.scss";

.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #00000023;
}

.dropdown {
    position: absolute;
    top: 0px;
    right: 1px;
    min-width: 140px;
    min-height: 40px;
    margin-top: $header-height;
    background: #ededed;
    box-shadow: $default-shadow;
    z-index: 3;
}
