@import "../../../../../../../../styles.scss";

.titlebar {
    min-height: 20px;
    margin: $default-margin $default-margin*2 $default-margin/2 $default-margin*2 ;
    padding: $default-padding 0 $default-padding 0;

    font-size: $font-size-big;
    font-weight: bold;
    border-bottom: $color-border solid 1px;
    cursor: pointer;
}