
.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .listItem {
        padding: $default-padding;
        border-bottom: $color-border solid 1px;
        background: $color-shade-light;
        cursor: pointer;
        &:hover {
            background: lighten($color-shade, 10%);
        }
        &.selected {
            font-weight: $font-weight-bold;
            background: $color-shade;
        }
    }
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    background: inherit;
    
    .iconContainer {
        width: $default-menu-icon-size;
        .icon {
            width: calc(100% - #{$default-padding*2});
            height: calc(100% - #{$default-padding*2});
            padding: $default-padding;
            fill: red;
        }
    }
    .nameContainer {
        flex: auto;
    }
    &:hover {
        filter: brightness(90%);
    }
}

.inputContainer {
    width: calc(100% - #{$default-margin*2} - 2px);
    margin: $default-margin;
    font-size: $default-font-size;

    .label {
        margin-bottom: $default-margin/2;
        display: block;
        font-style: italic;
    }
    
    input {
        font-size: $default-font-size;
        width: calc(100% - (#{$default-padding*2+2}));
        padding: $default-padding/2 $default-padding;
        
        border: $color-border solid 1px;
        background : lighten($color-secondary,60%);
        box-shadow: $default-shadow-input;
    }

    input:-webkit-autofill, input:-moz-autofill {
        -webkit-box-shadow: inset 0 0 0px 9999px lighten($color-secondary,60%);
        -moz-box-shadow: inset 0 0 0px 9999px lighten($color-secondary,60%);
        box-shadow: inset 0 0 0px 9999px lighten($color-secondary,60%);
    }
}


.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .2;
}

.dropdown {
    position: absolute;
    top: 0px;
    min-width: $default-menu-width;
    background: #ededed;
    box-shadow: $default-shadow;
    z-index: 3;
}

.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;

    .popupContainer {
        background: #ededed;
        box-shadow: $default-shadow;
        border-radius: 4px;
        overflow: hidden;

        &.popupInput {
            width: 400px;
        }
        &.popupConfirm {
            width: 400px;
        }
        &.popupMove {
            width: 500px;
        }

        .popupHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: $header-height/2;
            background: $color-primary;
            color: $color-shade;
            font-weight: $font-weight-bold;

            .titleContainer {
                flex:  auto;
                padding: $default-padding;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .btnRightContainer {
                flex:  auto;
                .btnIcon {
                    float: right;
                }
            }
        }

        .popupInputContainer {
            .popupInputInnerContainer {
                margin: $default-margin*2 $default-margin $default-margin/2 $default-margin;
            }
        }

        .popupMoveContainer {
            max-height: calc(100vh - 100px);
            overflow-y: auto;
            
        }

        .popupErrorContainer {
            margin-left: $default-margin;
            margin-right: $default-margin;
            font-style: italic;
            color: $color-error-msg;
        }
        .popupInputBtnContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px $default-padding $default-padding $default-padding;

            .btn {
                margin: $default-margin/2;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
    .backdrop {
        opacity: .0;
    }
    .popup {
        .popupContainer {
            width: 100%;
            height: calc(100% - #{$header-height});
            margin-top: $header-height;
            box-shadow: none;
            border-radius: 0px;
            overflow: hidden;
    
            &.popupInput {
                width: 100%;
            }
            &.popupConfirm {
                width: 100%;
            }
            &.popupMove {
                width: 100%;
            }
    
            .popupHeader {
            }
        }
    }
    


    .inputContainer {
        width: calc(100% - #{$mobile-margin*2} - 2px);
        margin: $mobile-margin;
        font-size: $mobile-font-size;

        .label {
            margin-bottom: $mobile-margin/2;
        }
        input {
            font-size: $mobile-font-size;
            width: calc(100% - (#{$mobile-padding*2+2}));
            padding: $mobile-padding/2 $mobile-padding;
        }
    
    }
    
    .dropdown {
        top: 0px;
        left: unset !important;
        right: unset !important;
        min-width: unset;
        min-height: unset;
        width: calc(100% - #{$mobile-margin*2});
        max-height: calc(100% - #{$default-padding});
        margin-top: unset;
        margin: $mobile-margin;
        
        .menuItem {
            height: $mobile-menu-icon-size;
            margin: $mobile-margin;
            .iconContainer {
                width: $mobile-menu-icon-size;
            }
        }
    }
}