$default-width-mobile: 479px;
$default-width-tablet: 768px;
$default-width-desktop: 1024px;
$default-width-retina: 1280px;

$menu-width: 200px;

$default-animation-length: .3s;

$color-primary : #6ac6e6;
$color-secondary : #af7500;

$color-shade-dark : #e0e0e0;
$color-shade : #f1f1f1;
$color-shade-light : #fdfdfd;

$color-dark: #030303;
$color-dark-grey: #4d4d4d;

$color-border: #97c2ff;

$default-margin:8px;
$default-padding:8px;

$header-height:60px;

$default-shadow: #2e2e2e 0px 0px 6px 0px;
$default-shadow-vague: $color-shade-dark 0px 0px 16px 0px;


/****************************
    FONTS
****************************/
$default-font: Arial;
$default-font-size: 12px;
$default-font-color: $color-dark;

$font-size-big: 18px;


/****************************
    Global styling
****************************/
html { height: 100%; }
body { height: 100%; margin : 0px; padding : 0px; font-family: $default-font; font-size: $default-font-size; color: $default-font-color;}

h1 {}
h2 {}
h3 {}
