
.login { 
    display: flex; 
    
    align-items: center;
    justify-content: center;
    
    width: 100%; height: 100%; padding: 0; margin: 0;
    font-size: $default-font-size;

    .loginContainer {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width:400px; 
        height: 500px; 
        padding: $default-padding*2;
        background: $color-shade; 

        border: $color-border solid 1px;
        box-shadow: $default-shadow-vague;

        .logo {
            width: 100%;
            max-width: 180px;
            margin: $default-margin*3 auto;
            margin-top: 0px;
        }

        .loginErrorContainer {
            min-height: $default-margin*4;
            color: $color-error-msg;
            font-style: italic;
        }

        .loginSubmitContainer {
            width: calc(100% - #{$default-margin});
            margin: $default-margin;

            .loginSubmit {
                width: calc(100% - #{$default-margin});
            }
        }
    }
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
    .login {
        font-size: $mobile-font-size;
        margin: 0;
        padding: 0;

        .loginContainer {
            justify-content: normal;
            width: 100%;
            height: 100%;
            border:none;

            .logo {
                margin: $default-margin*4 auto;
            }
    
            .loginSubmitContainer {
                width: calc(100% - #{$mobile-margin});
                margin: $mobile-margin;
    
            }
        }
    }   
}