.main {
    display: flex; 
    flex-direction: column; 
    height: 100%;
    font-size: $default-font-size;
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
    .main {
        font-size: $mobile-font-size;
    }   
}