@import "../../../../styles.scss";

.tab.tabMenu .itemList .item { float : left; width : calc(100% - 20px); position : relative; font-size : 12px; padding : 5px 10px 5px 0px; line-height : 18px; color : #585858;  }
.tab.tabMenu .itemList .item.active { color : $color-secondary; }
.tab.tabMenu .itemList .item .name{ font-size : 12px; cursor : pointer; }
.tab.tabMenu .itemList .item .name:hover { color : darken($color-secondary, 25%); }
.tab.tabMenu .itemList .item .btnDelete{ position : absolute; right : 0px; width : 18px; height : 18px; cursor : pointer; opacity : 0.5; }
.tab.tabMenu .itemList .item .btnDelete svg{ width : 18px; height : 18px; }
.tab.tabMenu .itemList .item .btnDelete:hover { opacity : 1; }