@import "../../../../styles.scss";

.tabNote {
    position: relative; 
    display: flex;
    flex: auto; 
    flex-direction: column; 
    height: 100%;

    .noteContainer {
        display: flex;
        flex: auto; 
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        .noteInnerContainer {
            overflow-y: auto;
            .note { 
                border: none;
                min-height: 300px;
            }
        }
    }
    
}

@media (min-width: 0px) and (max-width: $default-width-mobile) {
    .tabNote { display: none; height: calc(100% - 10px); min-width: 100vw; /* 100vw is a trick for the animation so te text won't grow with the with */ padding:0px; }
    .tabNote.stack.active { display: block; }
}