.tabNote {
    position: relative; 
    display: flex;
    flex: auto; 
    flex-direction: column; 
    height: 100%;

    .noteContainer{
        display: flex;
        flex: auto; 
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        

        .noteHeaderContainer {
            
        }

        .noteInnerContainer{
            overflow-y: auto;
            .note { 
                
            }
        }
    }
    
}