@import "../../../styles.scss";

.btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: $header-height;
    height: calc(#{$header-height} - 1px);

    border-right: $color-shade-dark solid 1px;
    background : $color-primary;

    cursor: pointer;
    
    .icon {
        width: calc(100% - #{$default-padding*2});
        height: calc(100% - #{$default-padding*2});
        padding: $default-padding;
    }
}
